.header{
  z-index: -1;
}
.header__menu {
  display: grid;
  grid-template-columns: 263px 1fr 236px;
  gap: 28px;
}

.navigation {
  display: grid;
  align-items: center;
}

.header__items {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: start;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  gap: 47px;

  a {
    color: #000000;
  }
}


.header__number-phone {
  padding-top: 25px;
}

.button_phone {
  padding: 16px 27px 16px 53px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;

  &::before {
    content: "";
    background-image: url("/images/header/icon/icon-phone.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    top: 18px;
    right: 183px;
  }
}