body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-color: #f4f6f8;
}

a {
  text-decoration: none;
}

.body {
  background-image: url("/fon.png");
  background-repeat: no-repeat;
  background-position: -212px -1px;
  background-size: 1920px 840px;
}

.button {
  background-color: #fa002c;
  border-radius: 8px;
  color: #fff;
}

.container {
  max-width: 1457px;
  margin: 0 auto;
}

.header__menu {
  display: grid;
  grid-template-columns: 263px 1fr 236px;
  gap: 28px;
}

.navigation {
  display: grid;
  align-items: center;
}

.header__items {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: start;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  gap: 47px;
}

.header__item a {
  color: #000000;
}
.header__number-phone {
  padding-top: 25px;
}
.button_header {
  padding: 16px 27px 16px 53px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}
.button_header::before {
  content: "";
  background-image: url("/images/header/icon/icon-phone.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  top: 18px;
  right: 183px;
}

/* СЕКЦИЯ ПРОМО */
.promo {
  margin-top: 61px;
  margin-bottom: 111px;
  position: relative;
}

/* .promo::after {
  content: "";
  background-image: url("/images/promo/car-1.png");
  width: 500px;
  height: 300px;
  position: absolute;
  top: -109px;
  right: -286px;
  z-index: -1;
} */

.promo_flex {
  display: flex;
  align-items: center;
  gap: 161px;
}

.promo__play {
  width: 181px;
  height: 212px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
  border-radius: 24px;
}

.promo__link-video {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  max-width: 94px;
  text-align: center;
  padding-top: 133px;
  padding-left: 43px;
  color: #ffffff;
  position: relative;
}

.promo__link-video::after {
  content: "";
  position: absolute;
  background-image: url("/images/promo/play.svg");
  width: 80px;
  height: 80px;
  top: 33px;
  right: 7px;
}

.promo__block {
  height: 542px;
  width: 653px;
  background: rgba(255, 255, 255, 0.64);
  border: 1px solid #ffffff;
  border-radius: 24px;
  padding-top: 56px;
  padding-left: 56px;
}

.promo__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 90px;
  text-transform: uppercase;
  color: #282828;
  padding-bottom: 39px;
}

.promo__lists {
  list-style: none;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  max-width: 454px;
  padding-left: 40px;
}

.promo__list {
  padding-bottom: 13px;
  position: relative;
}

.promo__list::before {
  content: "";
  background-image: url("/images/promo/mark.svg");
  height: 14px;
  width: 19px;
  position: absolute;
  top: 9px;
  left: -30px;
}

.promo__list_img::after {
  content: "";
  background-image: url("/images/promo/japan.svg");
  height: 44px;
  width: 56px;
  position: absolute;
  top: -12px;
  right: 163px;
}

.promo__footer {
  padding-top: 32px;
  display: flex;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.button__promo {
  font-weight: 700;
  font-size: 18px;
  padding: 31px;
}

/* СЕКЦИЯ BILL */
.bill {
  padding-top: 140px;
  padding-bottom: 100px;
}
.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 69px;
}

.bill__title {
  max-width: 612px;
  padding-bottom: 24px;
}

.bill__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  padding-bottom: 70px;
}

.bill__items {
  display: grid;
  grid-template-columns: repeat(4, 373px);
  grid-template-rows: 274px 274px;
  justify-content: space-between;
}

.bill__item {
  padding-top: 61px;
  padding-left: 40px;
  border-right: 1px dashed #d6a7af;
  border-bottom: 1px dashed #d6a7af;
}
.bill__item_border {
  border-right: none;
}

.bill__item-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #fa002c;
  position: relative;
  padding-bottom: 36px;
}

.bill__item-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  max-width: 261px;
}

.bill__item-title::after {
  content: "";
  position: absolute;
  border-bottom: 1px dashed #fa002c;
  width: 194px;
  top: 33px;
  right: 80px;
}

.bill__item:hover {
  background-color: #fff;
  border-radius: 22px;
  border: none;
}
